# Virtual environment
venv/
env/
.venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Flask instance folder
instance/

# VS Code settings
.vscode/

# Mac system files (just in case)
.DS_Store